@page "/domains"
@using Microsoft.AspNetCore.Components.QuickGrid
@rendermode InteractiveWebAssembly
<h3>Domain Listing</h3>

<div>
    <div><Button Color="ButtonColor.Primary" @onclick="OnAddClick" > Add </Button></div>
    <div>
        <QuickGrid ItemsProvider="@_domainItemProvider" @ref="_grid" Pagination="@pagination">
            <PropertyColumn Property="@(p => p.Id)" Sortable="false" />
            <PropertyColumn Property="@(p => p.Name)" Sortable="false" />
        </QuickGrid>
    </div>
    <Paginator State="@pagination" />
</div>


<Offcanvas @ref="_addDomainOffCanvas" title="Add Domain">
    <BodyTemplate>
        <EditForm Model=@_addDomainModel OnSubmit="this.OnAddSubmit">
            <div class="form-group">
                <label for="domain-name">Domain Name</label>
                <InputText @bind-Value="@_addDomainModel.DomainName" class="form-control" id="domain-name" placeholder="example.com" />
            </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>
        </EditForm>
        
    </BodyTemplate>
</Offcanvas>